@charset "UTF-8";

body{
    background-color: white;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url("image/flowerring.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
.FR{
    width: auto;
        

}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    color: #505050;
    font-weight: 700;
}
#logo{
    height: 60px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    font-weight: 22px;
}
.text-container p:nth-child(2){
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    font-size: 60px;
}
.text-container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 20px;
    color: white;
    font-size: 2em;

}
.text-container{
    position: absolute;
    margin: 45px 0 25px;
    left: 13%;
    top: 42%;
    
}

