@charset "UTF-8";

body{
    background-color: white;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url("image/flowerring.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
.FR{
    width: auto;
        

}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    color: #505050;
    font-weight: 700;
}
#logo{
    height: 60px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: white;
    font-weight: 22px;
}
.text-container p:nth-child(2){
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    font-size: 60px;
}
.text-container p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 20px;
    color: white;
    font-size: 2em;

}
.text-container{
    position: absolute;
    margin: 45px 0 25px;
    left: 13%;
    top: 42%;
    
}
@media only screen and (max-height:600px){
    .text-container{
      display: none;
    }


}
.text-container button{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin: 0,15px;
}
.hire-btn{
    border: 1px solid;

}
.down-rm{
    border: 1px solid;
    
}

.About{
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    margin: 10% auto 20px auto;
    position: relative;
    justify-content: center;
    align-items: center;
}

#myphoto{
    width: 200px;
    margin: 20px 20px 20px 20px;
    border-radius: 10px;
}

.about-text p:nth-child(1){
    font-weight: bold;
    color: #1f1f1f;
    font-size: 20px;
}

.about-text p:nth-child(2){
    font-weight: bold;
    color: #333333;
    font-size: 15px;
    line-height: 3px;
}
.about-text p:nth-child(3){
    
    color: #474747;
    font-size: 12px;
}
.about-text p:nth-child(4){
    font-weight: bold;
    color: #333333;
    font-size: 15px;
    line-height: 3px;
}
.about-text p:nth-child(5){
    color: #353535;
    font-size: 12px;
   
}
.skill{
    height: 600px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;

}
.myskill{
    font-size:40px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.skilltext p:nth-child(1){
font-weight: bold;
color: #2d2a2a;
font-size: 20px;
line-height: 0px;


}
.skilltext p:nth-child(2){
    font-weight: bold;
    color: #474747;
    font-size: 10px;
    line-height: 0px;
    
}


.boxcontainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);

}

.box1, .box2{
    width: 300px;
    height:500px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    margin: 10px;
}
.box1 p, .box2 p{
    justify-content: center;
    align-content: center;
    display: flex;
    margin: 10px;


}
.contact{
    width: 500px;
    height: 450px;
    background-color: #ffffff;
    
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    margin: 20px auto 50px auto;
    justify-content: center;
    align-items: center;

}
.form{
    color: #1f1f1f;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    display: flex;
}
.input{
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#Else{
    width: 100%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
}
#name{
    width: 100%;
    color:gray;
  
}
#email{
    width: 100%;
  
}

.button{
  
    text-align: center;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin: 0,15px;
  }
input[type = submit]{
  
    color:black;
    width: 200px;
    padding: 0%;
    margin: 2% 2% 2% 2%;
}

